body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  text-align: center;
}

.container {
  padding: 40px;
}

input, button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}

button {
  background: #6a0dad;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

#answers button {
  display: block;
  margin: 10px auto;
  width: 70%;
}
